<div class="header-tab" id="app_header" xmlns:v-on="http://www.w3.org/1999/xhtml">
    <div class="Swipe-tab Swipe-tab_2 f_sb">
        <a href="javascrit:" v-on:click="tabSwitch(0)" v-bind:class="tab_1_class"></a>
        <a href="javascrit:" v-on:click="tabSwitch(1)" v-bind:class="tab_2_class"></a>
        <i style="transition-duration:.5s ;transform:translate3d(0,0,0)"   v-bind:style="{width: index_header_tab_width +'px'}"></i>
    </div>
    <em class="header-user"></em>
    <em class="header-checkin"></em>
</div>